// * {
//   border: 1px dotted red;
// }

///////////////////////////index/////////////////////////
article {
  a {
    text-decoration: none;
  }

  /* unvisited link */
  a:link {
      color: #EEDDCD;
  }

  /* visited link */
  a:visited {
      color: #EEDDCD;
  }

  /* mouse over link */
  a:hover {
      color: hotpink;
  }

  /* selected link */
  a:active {
      color: blue;
  }
}

a {
  text-decoration: none;
}

/* unvisited link */
a:link {
    color: #4B370D;
}

/* visited link */
a:visited {
    color: #4B370D;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}


.container {
  background-color: #4B370D;
  color: #EEDDCD;
}

.logo-menu-bar {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px;
  position: fixed;
  background-color: #44320b;
  width: 100%;
  text-align: center;
  z-index: 2;
}

.smallText {
  font-size: 12px;
}

.logo {
  font-size: 24px;
}

.menu {
  font-size: 16px;
}

@media screen and (min-width: 1156px) {
  .logo-menu-bar {
    text-align: left;
  }

  .smallText {
    text-align: center;
  }

  .logo {
    padding-left: 20px;
    font-size: 24px;
  }

  .menu {
    padding-left: 29%;
    font-size: 16px;
  }
}

.thumb3 {
  margin-top: 0px;
}


@media screen and (max-width: 700px) {
  .thumb3 {
    margin-top: 116px;
  }
  .thumb2 {
    margin-top: 30px;
  }
}







/////////////////////////home page////////////////////////////

// #about {
//   margin-top: 25px;
// }
//
// #interviews {
//   margin-top: 25px;
// }
//
// #portfolio {
//   margin-top: 25px;
// }
//
// #contact {
//   margin-top: 25px;
// }


.home-container {
  padding-top: 32px;
}

.splash-image {
  width: 100%;
  //height: 600px;
}


.inline {
  display: inline-block;
}



.about-title {
  margin-top: 75px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px;
  color: #EEDDCD;
  font-size: 30px;
  text-align: center;
}

.bio {
  color: #EEDDCD;
  margin-top: 10px;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  font-size: 16px;
}

.portfolio-title {
  margin-top: 75px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px;
  color: #EEDDCD;
  font-size: 30px;
  text-align: center;
}

.portfolio-align {
  margin-top: 10px;
  width: 100%;
  font-size: 14px;
  text-align: center;
}

.portfolio-card {
  margin-top: 50px;
  border-radius: 5px;
  img {
    width: 350px;
  }
}

.card-text1 {
  background-color: #EEDDCD;
  color: #4B370D;
  width: 330px;
  height: 150px;
  vertical-align: top;
  text-indent: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  text-align: left;
  font-size: 15px;
}

.card-text2 {
background-color: #EEDDCD;
color: #4B370D;
width: 330px;
height: 150px;
vertical-align: top;
text-indent: 20px;
padding-left: 10px;
padding-right: 10px;
margin-top: 10px;
text-align: left;
font-size: 15px;
}

.card-text3 {
  background-color: #EEDDCD;
  color: #4B370D;
  width: 330px;
  height: 140px;
  vertical-align: top;
  text-indent: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  text-align: left;
  font-size: 15px;
}

.card-position1 {
    background-color: #EEDDCD;
    color: #4B370D;
    width: 350px;
    height: 219px;
    vertical-align: top;
    text-indent: 20px;
    opacity: .75;
    margin-top: 300px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.card-position2 {
    background-color: #EEDDCD;
    color: #4B370D;
    width: 350px;
    height: 219px;
    vertical-align: top;
    text-indent: 20px;
    opacity: .75;
    margin-top: 300px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.card-position3 {
    background-color: #EEDDCD;
    color: #4B370D;
    width: 350px;
    height: 200px;
    vertical-align: top;
    text-indent: 20px;
    opacity: .75;
    margin-top: 300px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

@media screen and (max-width: 800px) {
  .card-position1 {
      background-color: #EEDDCD;
      color: #4B370D;
      width: 350px;
      height: 219px;
      vertical-align: top;
      text-indent: 20px;
      opacity: .75;
      margin-top: 200px;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
  }

  .card-position2 {
      background-color: #EEDDCD;
      color: #4B370D;
      width: 350px;
      height: 219px;
      vertical-align: top;
      text-indent: 20px;
      opacity: .75;
      margin-top: 200px;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
  }

  .card-position3 {
      background-color: #EEDDCD;
      color: #4B370D;
      width: 350px;
      height: 219px;
      vertical-align: top;
      text-indent: 20px;
      opacity: .75;
      margin-top: 200px;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
  }
}

@media screen and (max-width: 627px) {
  .card-title {
    font-size: 24px;
    text-align: center;
    border-bottom: 1px solid #4B370D;
    text-indent: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: top;
    //margin-top: 200px;
  }

  .show-ranker-background {
    width: 100%;
    background: url("../images/show_ranker_preview.jpg") no-repeat;
    background-size: 100%;
    text-align: center;
    vertical-align: bottom;
    padding-top: 160px;
  }

  .whack-a-bug-background {
    width: 100%;
    background: url("../images/whack_a_bug_preview.jpg") no-repeat;
    background-size: 100%;
    text-align: center;
    vertical-align: bottom;
    padding-top: 60px;
  }

  .etsy-background {
    width: 100%;
    background: url("../images/etsy_preview.jpg") no-repeat;
    background-size: 100%;
    text-align: center;
    vertical-align: bottom;
    padding-top: 160px;
  }

  .card-position1 {
      background-color: #EEDDCD;
      color: #4B370D;
      width: 350px;
      height: 45px;
      vertical-align: top;
      text-indent: 20px;
      opacity: .75;
      margin-top: 100px;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      overflow: hidden;
  }

  .card-position2 {
      background-color: #EEDDCD;
      color: #4B370D;
      width: 350px;
      height: 45px;
      vertical-align: top;
      text-indent: 20px;
      opacity: .75;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      overflow: hidden;
  }

  .card-position3 {
      background-color: #EEDDCD;
      color: #4B370D;
      width: 350px;
      height: 45px;
      vertical-align: top;
      text-indent: 20px;
      opacity: .75;
      margin-top: 100px;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      overflow: hidden;
  }
}

@media screen and (max-width: 476px) {

  .show-ranker-background {
    width: 100%;
    background: url("../images/show_ranker_preview.jpg") no-repeat;
    background-size: 100%;
    text-align: center;
    vertical-align: bottom;
    padding-top: 130px;
  }

  .whack-a-bug-background {
    width: 100%;
    background: url("../images/whack_a_bug_preview.jpg") no-repeat;
    background-size: 100%;
    text-align: center;
    vertical-align: bottom;
    padding-top: 130px;
  }

  .etsy-background {
    width: 100%;
    background: url("../images/etsy_preview.jpg") no-repeat;
    background-size: 100%;
    text-align: center;
    vertical-align: bottom;
    padding-top:130px;
  }

  .card-position1 {
      background-color: #EEDDCD;
      color: #4B370D;
      width: 350px;
      height: 45px;
      vertical-align: top;
      text-indent: 20px;
      opacity: .75;
      margin-top: 50px;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      overflow: hidden;
  }

  .card-position2 {
      background-color: #EEDDCD;
      color: #4B370D;
      width: 350px;
      height: 45px;
      vertical-align: top;
      text-indent: 20px;
      opacity: .75;
      margin-top: 50px;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      overflow: hidden;
  }

  .card-position3 {
      background-color: #EEDDCD;
      color: #4B370D;
      width: 350px;
      height: 45px;
      vertical-align: top;
      text-indent: 20px;
      opacity: .75;
      margin-top: 50px;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      overflow: hidden;
  }
}

@media screen and (max-width: 400px) {
  .card-position1 {
      background-color: #EEDDCD;
      color: #4B370D;
      width: 350px;
      height: 45px;
      vertical-align: top;
      text-indent: 20px;
      opacity: .75;
      margin-top: 20px;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
  }

  .card-position2 {
      background-color: #EEDDCD;
      color: #4B370D;
      width: 350px;
      height: 45px;
      vertical-align: top;
      text-indent: 20px;
      opacity: .75;
      margin-top: 20px;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
  }

  .card-position3 {
      background-color: #EEDDCD;
      color: #4B370D;
      width: 350px;
      height: 45px;
      vertical-align: top;
      text-indent: 20px;
      opacity: .75;
      margin-top: 20px;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
  }
}


.card-title {
  font-size: 24px;
  text-align: center;
  border-bottom: 1px solid #4B370D;
  text-indent: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: top;
}

.contact-title {
  padding-top: 75px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px;
  color: #EEDDCD;
  font-size: 30px;
  text-align: center;
}

.contact-section {
  font-size: 18px;
  margin-left: 20%;
  margin-right: 20%;
  text-align: left;
  i {
    width: 100px;
  }
}

@media screen and (max-width: 730px) {
  .contact-section {
    font-size: 18px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    i {
      width: 100px;
    }
  }
}

@media screen and (max-width: 547px) {
  .contact-section {
    font-size: 18px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
    i {
      width: 100px;
    }
  }
}

@media screen and (max-width: 486px) {
  .contact-section {
    font-size: 16px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    i {
      width: 100px;
    }
  }
}

/////
@media screen and (max-width: 400px) {
  .contact-section {
    font-size: 16px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
    i {
      width: 100px;
    }
  }
}



.interview-title {
  margin-top: 75px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px;
  color: #EEDDCD;
  font-size: 30px;
  text-align: center;
  //width: 100%;
}

@media screen and (max-width: 710px) {
  .interview-preview{
    width: 100%;
  }
}

.show-ranker-background {
  width: 100%;
  background: url("../images/show_ranker_preview.jpg") no-repeat;
  background-size: 100%;
  text-align: center;
  vertical-align: bottom;
  //padding-top: 450px;
}

.whack-a-bug-background {
  width: 100%;
  background: url("../images/whack_a_bug_preview.jpg") no-repeat;
  background-size: 100%;
  text-align: center;
  vertical-align: bottom;
  //padding-top: 450px;
}

.etsy-background {
  width: 100%;
  background: url("../images/etsy_preview.jpg") no-repeat;
  background-size: 100%;
  text-align: center;
  vertical-align: bottom;
  //padding-top: 450px;
}

.git-tag {
  font-size: 10px;
  width:25px;
}

.resume-page {
  text-align: center;
}

.resume-spacer {
  height: 33px;
}

.end {
  height: 300px;
  background-color: #4B370D;
  color: #4B370D;
}
