// * {
//   border: 1px dotted red;
// }

///////////////////////////index/////////////////////////
article {
  a {
    text-decoration: none;
  }

  /* unvisited link */
  a:link {
      color: #EEDDCD;
  }

  /* visited link */
  a:visited {
      color: #EEDDCD;
  }

  /* mouse over link */
  a:hover {
      color: hotpink;
  }

  /* selected link */
  a:active {
      color: blue;
  }
}

a {
  text-decoration: none;
}

/* unvisited link */
a:link {
    color: #4B370D;
}

/* visited link */
a:visited {
    color: #4B370D;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}


.container {
  background-color: #4B370D;
  color: #EEDDCD;
}

.logo-menu-bar {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px;
  position: fixed;
  background-color: #4B370D;
  width: 100%;
  text-align: center;
}

.logo {
  font-size: 24px;
}

.menu {
  font-size: 16px;
}

@media screen and (min-width: 900px) {
  .logo-menu-bar {
    text-align: left;
  }

  .logo {
    padding-left: 20px;
    font-size: 24px;
  }

  .menu {
    padding-left: 29%;
    font-size: 16px;
  }
}

.thumb3 {
  margin-top: 0px;
}


@media screen and (max-width: 700px) {
  .thumb3 {
    margin-top: 116px;
  }
  .thumb2 {
    margin-top: 30px;
  }
}







/////////////////////////home page////////////////////////////


.splash-image {
  width: 100%;
  //height: 600px;
}


.inline {
  display: inline-block;
}



.about-title {
  margin-top: 50px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px;
  color: #EEDDCD;
  font-size: 30px;
  text-align: center;
}

.bio {
  color: #EEDDCD;
  margin-top: 10px;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  font-size: 16px;
}

.portfolio-title {
  margin-top: 50px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px;
  color: #EEDDCD;
  font-size: 30px;
  text-align: center;
}

.portfolio-align {
  margin-top: 10px;
  width: 100%;
  font-size: 14px;
  text-align: center;
}

.portfolio-card {
  margin-top: 50px;
  border-radius: 5px;
  img {
    width: 350px;
  }
}

.card-text {
  background-color: #EEDDCD;
  color: #4B370D;
  width: 330px;
  height: 145px;
  vertical-align: top;
  text-indent: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
  text-align: left;
}

.card-text2 {
background-color: #EEDDCD;
color: #4B370D;
width: 330px;
height: 214px;
vertical-align: top;
text-indent: 20px;
padding-left: 10px;
padding-right: 10px;
margin-top: 20px;
text-align: left;
}

.card-text3 {
  background-color: #EEDDCD;
  color: #4B370D;
  width: 330px;
  height: 134px;
  vertical-align: top;
  text-indent: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
  text-align: left;
  font-size: 14px;
}

.card-position {
    background-color: #EEDDCD;
    color: #4B370D;
    width: 350px;
    height: 150px;
    vertical-align: top;
    text-indent: 20px;
    //text-align: center;
    //border-radius: 5px;
}

.card-title {
  font-size: 24px;
  text-align: center;
  border-bottom: 1px solid #4B370D;
  text-indent: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: top;
}

.contact-title {
  padding-top: 100px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px;
  color: #EEDDCD;
  font-size: 30px;
  text-align: center;
}

.contact-section {
  font-size: 24px;
  margin-left: 20%;
  margin-right: 20%;
  text-align: left;
  i {
    width: 100px;
  }
}

.interview-title {
  margin-top: 50px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px;
  color: #EEDDCD;
  font-size: 30px;
  text-align: center;
  //width: 100%;
}

.etsy-background {
  //height: 752px;      10px 20px/752px 1100px

  width: 100%;
  background: url("../images/desk_etsy2.jpg") no-repeat;
  background-size: 100%;
  text-align: center;
  vertical-align: bottom;

  //border: 1px dotted red;
  //background: url("http://cdn2-www.dogtime.com/assets/uploads/gallery/30-impossibly-cute-puppies/impossibly-cute-puppy-8.jpg")
}

.resume-page {
  text-align: center;
}

.resume-spacer {
  height: 40px;
}

.end {
  height: 300px;
  background-color: #4B370D;
  color: #4B370D;
}
