<div class="bio inline">
  I am a wonderful person. Forged from the intense crucible that was FSU's school
  of music. I quickly struck out on my own to make my fortune in the exciting world
  of professional poker. After eleven years of success I was forced to quit because
  of the draconian laws in our fair country. Quickly landing on my feet I was
  promoted to store manager at a Murphy's Gas station. But I wanted more out of life
  I wanted to create a symphony of beauty out of the raw materials of the computers
  that I had worked with so closely in my poker carreer. It was time to attend an intense
  coding bootcamp at The Iron Yard. Now recently graduated I am looking for the next
  place I can spread my wings.
</div>

<div class="resume inline">
  <!-- <a href="#!/images/JoshuaBradfordResume.pdf" target="_self">On Error GoTo Hell</a>
  <a href="#!/images/JoshuaBradfordResume.pdf">Click here for my resume!</a> -->
  <!-- <a href="{{downLoadLink}}" target="_self" download="{{ selectedFile.original.name }}">{{ selectedFile.original.name }}</a> -->
  <a href="#!/resume">link me</a>
</div>
