<div class="home-container">
  <img class="splash-image" ng-src="../images/photo2.jpg">
</div>
<div id="about"></div>
<div class="about-title">About Me</div>
<div class="bio">
Hi I'm Josh, a developer with a big heart, a creative spirit, and a
knack for solving problems. As an innovator and dreamer, I've been fascinated
by computers since I was a child. Driven by a persistent desire to make the world
a little bit better, I strive to use my skills to create practical solutions to
common problems and promote positivity.
  <br><br>
When I am not at the computer I like to spend my time playing guitar, growing or gathering wild food,
and gaming with my friends.
  <br><br>
If you look below you'll find links to two video interviews. They both are a great way to get to know me better.
</div>

<article class="interview-title">Video Interviews:
  <a href="https://vimeo.com/user50363031/review/216003418/c99a50e773" class="inline">Personal</a>
  <a href="https://vimeo.com/user50363031/review/216003660/0ed0c9f74f" class="inline">Technical</a>
</article>

<div id="portfolio"></div>
<div class="portfolio-title">My Portfolio</div>
<div class="portfolio-card portfolio-align">
 <a href="http://tiy-josh-final-project-frontend.surge.sh"><img class="inline thumb1" ng-src="../images/show_ranker_preview.png"></a>
 <div class="inline card-position">
   <a href="http://tiy-josh-final-project-frontend.surge.sh"><div class="card-title">Show Ranker</div></a>
   <div class="card-text">A website that lets users rank, review, and comment on
   television shows, as well as follow their friends reviews and comments. Show Ranker includes a ranking feature that lets users construct their own top shows
   list by presenting shows in a heads up is A better than B format.<p>
     I programmed the entire backend of this site using seqeulize and nodeJS.</p>
   </div>
  </div>
</div>

<div class="portfolio-card portfolio-align">
 <a href="http://tiy-josh-build_a_game.surge.sh/"><img class="inline thumb2" ng-src="../images/whack_a_bug_preview.png"></a>
 <div class="inline card-position">
   <a href="http://tiy-josh-build_a_game.surge.sh/"><div class="card-title">Whack-A-Bug</div></a>
   <div class="card-text2">A fun game project that I made one weekend and then refactored later. This project was started with a series of tests
     that directed the initial creation of objects and classes.
     <p> The game lets programmers
     take out their frustration on programming bugs. Based on the game whack-a-mole, whack-a-bug gets progressively
     harder each level until the user beats the game or is given his pink slip.
   </p>
   </div>
  </div>
</div>

<div class="portfolio-card portfolio-align">
 <a href="https://farstrider777.github.io/etsy_search_page/"><img  class="inline thumb3" ng-src="../images/etsy_page2.png"></a>
 <div class="inline card-position">
   <a href="https://farstrider777.github.io/etsy_search_page/"><div class="card-title">Etsy Recreation</div></a>
   <div class="card-text3">One of my earlier projects where I crafted
     a page to exactly match an Etsy search page.
     <p> I enjoyed this project, challenging myself to
       get the spacing, fonts, and pictures all to match the original.
       I was also responsible for parsing the json data from the search and displaying it to the page correctly.
   </p>
   </div>
  </div>
</div>

<article>
  <div id="contact"></div>
  <div class="contact-title">Contact Me</div>
  <div class="contact-section">
    <a href="https://github.com/farstrider777">
      <i class="fa fa-github fa-3x" aria-hidden="true"></i>
      Check out my code on GitHub.
    </a>
  </div>
  <div class="contact-section">
    <a href="https://www.linkedin.com/in/joshua-bradford-232b6181/">
    <i class="fa fa-linkedin fa-3x" aria-hidden="true"></i>
    Connect with me on LinkedIn.
    </a>
  </div>
  <div class="contact-section">
    <a href="mailto:joshuabradford@gmail.com">
    <i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i>
    Email me.
    </a>
  </div>
  <div class="contact-section">
    <a href="https://medium.com/@joshuabradford">
    <i class="fa fa-medium fa-3x" aria-hidden="true"></i>
    Check out my blog on Medium.
    </a>
  </div>
  <div class="contact-section">
    <a href="https://twitter.com/intent/tweet?screen_name=Farstrider777">
    <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
    Tweet me.
    </a>
  </div>
</article>

<div class="end"></div>
