<div class="home-container">

  <div class="bio inline">
  Hi I'm Josh, a frontend developer with a big heart, a creative spirit, and a
  knack for solving problems. As an innovator and dreamer, I've been fascinated
  by computers since I was a child. Driven by a persistent desire to make the world
  a little bit better, I stive to use my skills to create practical solutions to
  common problems and promote positivity.

  When I am not at the computer I like to spend my time playing guitar, growing or gathering wild food,
  and gaming with my friends.
  </div>

  <div class="resume inline">
    <div><a href="http://tiy-josh-final-project-frontend.surge.sh">Final Project</a></div>
    <div><a href="http://tiy-josh-build_a_game.surge.sh/"> Fun Game </a></div>
    <!-- <a href="#!/images/JoshuaBradfordResume.pdf" target="_self">On Error GoTo Hell</a>
    <a href="#!/images/JoshuaBradfordResume.pdf">Click here for my resume!</a> -->
    <!-- <a href="{{downLoadLink}}" target="_self" download="{{ selectedFile.original.name }}">{{ selectedFile.original.name }}</a> -->
    <div><a href="#!/resume">link me</a></div>
  </div>

  <div>test
  </div>

  <div>test
  </div>

  <div>test
  </div>

  <div>test
  </div>

  <div>test
  </div>

  <div>test
  </div>

  <div>test
  </div>

  <div>test
  </div>

  <div>test
  </div>

  <div>test
  </div>

</div>
